<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>App</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- http://www.quackit.com/css/css_color_codes.cfm -->
<style>
.footer {
	position: absolute;
	bottom: 0;
	width: 90%;
	height: 60px;
}
.jumbotron {
    background-color: rgb(39, 70, 149);
    color: #EFF2F9;
}
.jumbotron p {
    color: #798093;
}
</style>

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<body>
    <div id="app" class="container">
        
        <!-- header stuff -->
        <div id="header" class="jumbotron">
            <h1>This is the page header title</h1>
            <p>Blah blah blah</p>
        </div>

        <div id="nav-menu">        
            <ul>
                <li v-for="item in navMenuItems">
                    <a v-on:click="navigationMenuItemSelected" href="#">{{ item.displayText }}</a>
                </li>
            </ul>
        </div>
        
        <!-- Main area where stuff changes -->
        <div id="mainArea" class="mainContainer">
            <div id="contextMenu" class="contextMenu">
                <ul>
                    <li v-for="item in pageContextItems">
                        <a v-on:click="contextMenuItemSelected" href="#">{{ item.displayText }}</a>
                    </li>
                </ul>
            </div>
            <div id="pageContent" class="mainAppPane">{{mainPaneContent}}</div>
        </div>

        <!-- footer stuff -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">This is the footer stuff. (c) jelis</p>
            </div>
        </footer>

    </div>
</body>

<script>
var app = new Vue({
    el: "#app",
    data: {
        navMenuItems: [
            { displayText: 'Nav Menu 1' },
            { displayText: 'Nav Menu 2' },
            { displayText: 'Nav Menu 3' }
        ],
        pageContextItems: [
            { displayText: 'context item 1' },
            { displayText: 'context item 2' },
            { displayText: 'context item 3' }],
        mainPaneContent: "Fooooooo",
    },
    methods: {
        contextMenuItemSelected: function() {
            this.mainPaneContent = "context menu change"
        },
        navigationMenuItemSelected: function() {
            this.mainPaneContent = "nav menu change"
        }
    },
})
</script>

</html>
