<!--
Example of component composition with vue.js

references:
https://jeremenichelli.github.io/2016/06/building-component-based-app-vue/
https://forum.vuejs.org/t/passing-data-back-to-parent/1201

-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Component Dependency Chaining</title>
</head>

<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script>
// RESULT component
Vue.component('result', {
  template: `<div>
                <h3 v-text="title"></h3>
                <a :href="url">Find out more</a>
             </div>
  `,
  props: [ 'title', 'url' ]
});

// RESULT LIST component depends on RESULT component
Vue.component('results-list', {
  template: `
    <div>
        <ul>
          <li v-for="r in results">
            <result :title="r.title" :url="r.url"></result>
          </li>
        </ul>
    </div>
  `,
  props: [ 'results'],
});

// Search box will chain all the components together
// and emit search results to the parent
Vue.component('search-box', {
    template: `
    <div>
        <form action="?"  @submit="onSearch">
          <input type="text" placeholder="Search" v-model="title">
          <button type="submit" :disabled="searchIsInProgress">Search</button>
        </form>
    </div>
    `,
    data() {
        return {
            title: '',
            searchIsInProgress: false,
        }
    },
    methods: {
        onSearch: function() {    
            const BASE_URL = 'https://www.omdbapi.com/?r=json';
            this.searchIsInProgress = true;
            var request_url = BASE_URL + "&s=" + this.title
            
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', request_url)
            xhr.onload = function () {
                self.searchIsInProgress = false;
                var jsonResponse = JSON.parse(xhr.responseText)
                self.$emit('searchResultsAvailable', jsonResponse)
            }
            xhr.send()
        }
    }
});
</script>

<body>
    <div id="app"></div>
</body>


<script>
window.vue = new Vue({
    el: '#app',
    template: `<div>
                   <h1>{{appTitle}}</h1>
                   <search-box v-on:searchResultsAvailable="onSearchResults"></search-box>
                   <results-list v-bind:results="results"></results-list>
               </div>`,
    data: {
        //results: [{title: "XXXXXXXXXXXXXX", url: "http://www.google.com"}]
        results: [],
        appTitle: "Search Movies"
    },
    methods: {
        onSearchResults: function(jsonResults) {
            // jsonResults has 'Search': [{Title, Poster}]
            this.appTitle = "fuck"
            this.results = [{title:"000000000", url: "http://www.google.com"}]
        }
    },
    beforeCreate: function() {
        console.log('beforeCreate called')
    },    
    created: function () {
        console.log('created lifecycle function, says: ' + this.message)
    },    
    beforeMount: function () {
        console.log('beforeMount called')
    },    
    mounted: function () {
        console.log('mounted called')
    },    
    beforeUpdate: function () {
        console.log('beforeUpdate called')
    },    
    updated: function () {
        console.log('updated called')
    },
    destroyed: function () {
        console.log('destroyed called')
    }
});
</script>


</html>
