<!--
Example of component composition with vue.js, props down, events up, that's the way we like to script.

references:
https://jeremenichelli.github.io/2016/06/building-component-based-app-vue/
https://forum.vuejs.org/t/passing-data-back-to-parent/1201

-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Component Dependency Chaining</title>
</head>

<script src="https://unpkg.com/vue@2.2.2/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@2.2.1"></script>


<script>
// RESULT LIST component depends on RESULT component
Vue.component('results-list', {
  template: `
    <div>
        <ul>
          <li v-for="r in results">
            <result :title="r.title" :url="r.url"></result>
          </li>
        </ul>
    </div>
  `,
  props: [ 'results'],
});

// RESULT component
Vue.component('result', {
  template: `<div>
                <h3 v-text="title"></h3>
                <a :href="url">Find out more</a>
             </div>
  `,
  props: [ 'title', 'url' ]
});


// Search box will chain all the components together
// and emit search results to the parent
Vue.component('search-box', {
    template: `
    <div>
        <p>Your search: {{title}}</p>
        <form action="#" v-on:submit="onSubmit">
          <input type="text" placeholder="Search" v-model="title">
          <button type="submit" :disabled="searchIsInProgress">Search</button>
        </form>
    </div>
    `,
    data() {
        return {
            title: '',
            searchIsInProgress: false,
        }
    },
    methods: {
        onSubmit: function() {    
            const BASE_URL = 'https://www.omdbapi.com/?r=json';
            this.searchIsInProgress = true;
            var request_url = BASE_URL + "&s=" + this.title
            
            var xhr = new XMLHttpRequest()
            var self = this
            xhr.open('GET', request_url)
            xhr.onload = function () {
                var searchResultsJson = [];

                var jsonResponse = JSON.parse(xhr.responseText)
                if ('Search' in jsonResponse) {
                    var resultArray = jsonResponse['Search'];
                    for(var i = 0; i < resultArray.length; i++) {
                        var entry = resultArray[i];
                        searchResultsJson.push({title: entry['Title'], url: entry['Poster']});
                    }
                }
                self.$emit('searchResultsAvailable', searchResultsJson)
                self.searchIsInProgress = false;
            }
            xhr.send()
        }
    }
});
</script>

<body>
    <div id="app">
    </div>
</body>


<script>
rootView = new Vue({
    el: '#app',
    template: `<div>
                   <h1>{{appTitle}}</h1>
                   <search-box v-on:searchResultsAvailable="onSearchResults"></search-box>
                   <results-list v-bind:results="searchResults"></results-list>
               </div>`,
    data: {
        searchResults: [],
        appTitle: "Search Movies1"
    },
    methods: {
        onSearchResults: function(jsonResults) {
            this.searchResults = jsonResults
        }
    },
    beforeCreate: function() {
        console.log('beforeCreate called')
    },    
    created: function () {
        console.log('created lifecycle function, says: ' + this.message)
    },    
    beforeMount: function () {
        console.log('beforeMount called')
    },    
    mounted: function () {
        console.log('mounted called')
    },    
    beforeUpdate: function () {
        console.log('beforeUpdate called')
    },    
    updated: function () {
        console.log('updated called')
    },
    destroyed: function () {
        console.log('destroyed called')
    }
});
</script>


</html>
