<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<script src="https://unpkg.com/vue/dist/vue.js"></script>


<script>
// A component is essentially a Vue instance with pre-defined options.
// all Vue components are essentially extended Vue instances.

// communication between parent and child components can be summarized as "props down, events up"
// the parent passes data down to the child via props and child sends messages to parent via events.
Vue.component('todo-item', {
    // The todo-item component now accepts a "prop", which is like a custom attribute. This prop is called todo.
    
    // property type declaration used for validations
    // valid types String, Number, Boolean, Function, Object, Array    
    props: {todo: Object},  
    
    template: '<li>{{ todo.text }}</li>',
    // in a component data must be a function
    data: function () {
        return {myMsg: "123"}    
    }
})

// using components your app might look something like:
//<div id="app">
//  <app-nav></app-nav>
//  <app-view>
//    <app-sidebar></app-sidebar>
//    <app-content></app-content>
//  </app-view>
//</div>

// another component - a paragraph
Vue.component('paragraph-item', {
    props: ['paragraph'],
    template: '<p>{{ paragraph.text }}</p>'
})
</script>

<body>
    <h1>Vue.js Demo</h1>
    <p>Mostly based on vue <a href="https://vuejs.org/v2/guide/">intro guide</a></p>

    <div id="app-2">

        <p>This is app.message in the Vue data: {{ message }}</p>
        <p>Use a Vue computed property to reverse the message: {{reversedMessage}}</p>
        
        <h3>Demonstrate v-bind:title</h3>
        <span v-bind:title="message2">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>

        <h3>The paragraph below is conditionally rendered by v-if directive.</h3>
        <p v-if="showText">A demo of conditional rendering with v-if</p>
        <p><a href="https://vuejs.org/v2/guide/conditional.html">see vue conditional rendering</a></p>

        <!-- Demonstrate iteration over app.data -->     
        <h3>Iterate over Vue data and demonstrate handlebar rendering</h3>
        <ol>
            <li v-for="todo in todos">
              {{ todo.text }}
            </li>
        </ol>   
        <p><a href="https://vuejs.org/v2/guide/list.html">see vue list rendering</a></p>

        <div id="user-in-reverse">
            <h3>v-on:click calls Vue method which manipulates data</h3>
            <p>To let users interact with your app, we can use the v-on directive to attach event listeners that invoke methods on our Vue instances</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <h3>call addToList function with v-on:click</h3>
        <div id="user-in-list-add">
            <button v-on:click="addToList">add to list</button>
        </div>
        <p><a href="https://vuejs.org/v2/guide/events.html">more on event handling</a></p>
        

        <div id="v-model-stuff">
          <h3>user input handling and applying filter function</h3>
          <p>Vue also provides the v-model directive that makes two-way binding between form input and app state a breeze</p>
          <p>{{ inputExample }}</p>
          <p>with a filter function: {{ inputExample | capitalize }}</p>
          <input v-model="inputExample">
          <p><a href="https://vuejs.org/v2/guide/forms.html">more on form input bindings with v-model</a></p>
        </div>

        <!-- Use the todo-item component we defined to present a listing of grocery items tha are found in the vue data -->
        <div>
            <h3>Grocery list, custom component, v-for iteration</h3>
            <p>A grocery list: Create an instance of the todo-item component.. pass the todo into each repeated component using v-bind</p>
            <ol>
               <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
            </ol>
        </div>

        <!-- use another custom component, use v-for control structure to iterate -->
        <div>
            <h3>A bunch of paragraphs w/ custom item</h3>
            <paragraph-item v-for="paragraph in paragraphs" v-bind:paragraph="paragraph"></paragraph-item>
        </div>


        <!-- Demonstrate how watches work -->
        <div id="watch-example">
          <h3>watch example</h3>
          <p>
            Ask a yes/no question:
            <input v-model="question">
          </p>
          <p>{{ answer }}</p>
        </div>

    </div> <!-- app-2 div -->
</body>


<script>
// Vue API: https://vuejs.org/v2/api/
// Vue "root instance"
var app = new Vue({
    el: '#app-2', // points to an element
    // It should be noted that only these proxied properties(in data) are reactive. 
    // If you attach a new property to the instance after it has been created, it will not trigger any view updates
    data: {
        message: 'Hello Vue.js!',
        message2: 'You are hovering',
        showText: true,  // in js console of browser set app.showText = false to make text disappear
        todos: [{text: "learn javascript"}, {text: "learn vue"}, {text: "try to love javascript"}],
        inputExample: 'this is an input example',
        groceryList: [
            { text: 'Vegetables' },
            { text: 'Cheese' },
            { text: 'Whatever else humans are supposed to eat' }
        ],
        paragraphs: [
            { text: 'This is para 1', visible: false},
            { text: 'This is para 2', visible: false},
        ],
        question: '',
        answer: 'I cannot give you an answer until you ask a question!'
    },
    methods: {
        reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
        },
        addToList: function() {
            this.todos.push({text: "a new item"});
        },
        getAnswer: function() {
            if (this.question.indexOf('?') === -1) {
                this.answer = 'Questions usually contain a question mark. ;-)'
                return
            }
            else {
                this.answer = "The answer is 14"
            }
        },
    },
    // watches - generic way to react to data, handle when u want to perform async actions
    watch: {
        question: function(newQuestion) {
            this.answer = "waiting for u to stop typing"
            this.getAnswer()
        }
    },
    // computed properties - handy for being DRY
    // could use a method but computed properties are cached based on their dependencies. only re-evaluated when need be.
    computed: {
        reversedMessage: function() {
            return this.message.split('').reverse().join('')
        }
    },
    // custom filters can be applied in moustache sections {{variable | filtername}} and and v-bind expressions
    // nb: filters can be chained {{message | filterA | filter B}}
    filters: {  
        capitalize: function (value) {
            if (!value) return ''
            value = value.toString()
            return value.toUpperCase()
        },
    },
    // instance lifecycle hooks
    // There are also other hooks which will be called at different stages of the 
    // instance’s lifecycle, for example mounted, updated, and destroyed. All 
    //lifecycle hooks are called with their this context pointing to the Vue instance invoking it.
    // lifecycle diagram: https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram
    beforeCreate: function() {
        console.log('beforeCreate called')
    },    
    created: function () {
        console.log('created lifecycle function, says: ' + this.message)
    },    
    beforeMount: function () {
        console.log('beforeMount called')
    },    
    mounted: function () {
        console.log('mounted called')
    },    
    beforeUpdate: function () {
        console.log('beforeUpdate called')
    },    
    updated: function () {
        console.log('updated called')
    },
    destroyed: function () {
        console.log('destroyed called')
    }
})

//In addition to data properties, Vue instances expose a number of useful instance properties and methods. 
//These properties and methods are prefixed with $ to differentiate them from proxied data properties
console.log(app.$data.message)
</script>


</html>
