<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<script src="https://unpkg.com/vue/dist/vue.js"></script>


<body>
    <div id="app-2">
      <p>This is app.message: {{ message }}</p>
      <span v-bind:title="message2">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>
      <p v-if="showText">Now you see me</p>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol> 
      <!-- To let users interact with your app, we can use the v-on directive to attach event listeners that invoke methods on our Vue instances--> 
      <div id="user-in-reverse">
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>
      <div id="user-in-list-add">
        <button v-on:click="addToList">add to list</button>
      </div>
      <!-- Vue also provides the v-model directive that makes two-way binding between form input and app state a breeze -->
      <div id="v-model-stuff">
          <p>{{ inputExample }}</p>
          <input v-model="inputExample">
      </div>
    </div>
</body>


<script>
var app2 = new Vue({
    el: '#app-2',
    data: {
        message: 'Hello Vue.js!',
        message2: 'You are hovering',
        showText: true,  // in js console of browser set app2.showText = false to make text disappear
        todos: [{text: "learn javascript"}, {text: "learn vue"}, {text: "try to love javascript"}],
        inputExample: 'this is an input example',
    },
    methods: {
        reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
        },
        addToList: function() {
            this.todos.push({text: "a new item"});
        }
    }
})
</script>


</html>
