<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
</head>

<script src="https://unpkg.com/vue/dist/vue.js"></script>


<script>
// A component is essentially a Vue instance with pre-defined options.
// all Vue components are essentially extended Vue instances.
Vue.component('todo-item', {
    // The todo-item component now accepts a "prop", which is like a custom attribute. This prop is called todo.
    props: ['todo'],
    template: '<li>{{ todo.text }}</li>'
})
// using components your app might look something like:
//<div id="app">
//  <app-nav></app-nav>
//  <app-view>
//    <app-sidebar></app-sidebar>
//    <app-content></app-content>
//  </app-view>
//</div>
</script>

<body>
    <div id="app-2">
      
      <p>This is app.message: {{ message }}</p>
      <span v-bind:title="message2">
        Hover your mouse over me for a few seconds to see my dynamically bound title!
      </span>

      <p v-if="showText">Demonstrate controling visibility with app.showText: Now you see me</p>
      
      <h3>A todo list</h3>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol> 
      
      <div id="user-in-reverse">
        <p>To let users interact with your app, we can use the v-on directive to attach event listeners that invoke methods on our Vue instances</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
      </div>
      
      <h3>call addToList function</h3>
      <div id="user-in-list-add">
        <button v-on:click="addToList">add to list</button>
      </div>
      
      <div id="v-model-stuff">
          <p>Vue also provides the v-model directive that makes two-way binding between form input and app state a breeze</p>
          <p>{{ inputExample }}</p>
          <input v-model="inputExample">
      </div>

      <div>
        <p>A grocery list: Create an instance of the todo-item component.. pass the todo into each repeated component using v-bind</p>
        <ol>
           <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
        </ol>
      </div>
 
   </div> <!-- app-2 div -->
</body>


<script>
// Vue API: https://vuejs.org/v2/api/
var app = new Vue({
    el: '#app-2',
    // It should be noted that only these proxied properties(in data) are reactive. 
    // If you attach a new property to the instance after it has been created, it will not trigger any view updates
    data: {
        message: 'Hello Vue.js!',
        message2: 'You are hovering',
        showText: true,  // in js console of browser set app.showText = false to make text disappear
        todos: [{text: "learn javascript"}, {text: "learn vue"}, {text: "try to love javascript"}],
        inputExample: 'this is an input example',
        groceryList: [
            { text: 'Vegetables' },
            { text: 'Cheese' },
            { text: 'Whatever else humans are supposed to eat' }
        ],
    },
    methods: {
        reverseMessage: function() {
            this.message = this.message.split('').reverse().join('')
        },
        addToList: function() {
            this.todos.push({text: "a new item"});
        }
    },
    // instance lifecycle hooks
    // There are also other hooks which will be called at different stages of the 
    // instance’s lifecycle, for example mounted, updated, and destroyed. All 
    //lifecycle hooks are called with their this context pointing to the Vue instance invoking it.
    created: function () {
        console.log('created lifecycle function, says: ' + this.message)
    }
})

//In addition to data properties, Vue instances expose a number of useful instance properties and methods. 
//These properties and methods are prefixed with $ to differentiate them from proxied data properties
console.log(app.$data.message)
</script>


</html>
